/* .main_table {
    background-color: inherit;
    border: none;
    font-size: 25px;
} */
.main_table_title{
    display: flex;
    justify-content: space-between;
    align-items: center;
}